
.main{
    
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 70px;
    margin-bottom: 30px;
    background-color:rgb(242, 242, 242);
}

.carListCompnent{
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
}

.Date{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.Coupon{
    text-align: center;
}

label{
    font-size: 20px;
}

table, td, th {  
    border: 3px solid rgb(0, 173, 181);
    border-radius: 8px;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    color: #393E46
  }
.date-label{
    color: #393E46;
    padding: 10px;
}
.my-input{
    border: solid 1px rgb(190, 189, 189);
    margin-top: 5px;
    padding: 5px;
    border-radius: 2px;
}
.my-coupon-input{
    margin-top: 10px;
    border-radius: 2px;
    padding: 5px;
    border: solid 1px rgb(190, 189, 189);
}
  
  th, td {
    padding: 5px;
    background-color: #fff
  }

  #ConfirmBtn{
   background-color: rgb(0, 173, 181);

  }

  .default-text{
      margin-top: 60px;
      text-align: center;
  }

  @media (max-width: 800px){
    
    .Date{
        grid-template-columns: 1fr;
        text-align: center;
    }
}