.car-main-div{
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
}

.Drop-down-div{
margin-top: 2%;
margin-bottom: 2%

}

.paginationBtns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.paginationBtns a{
    padding: 10px;
    margin: 8px;
    border: 1px solid #00ADB5;
    border-radius: 5px;
    color: #00ADB5;
    cursor: pointer;
}
 .paginationBtns a:hover{
     color: white;
     background-color: #00ADB5;
 }
