/* NavBar */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

nav{
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  padding: 0 100px;
}
nav .nav-items{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #00ADB5;
}
nav .my-form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
li.user-name{
    color: #00ADB5;
}
li.admin-name{
  color: #00ADB5;
}
nav .my-form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav .my-form .search-btn{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #00ADB5;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav .my-form .search-btn:hover{
  background: #006c72;
}


@media (max-width: 745px){
  nav .logo{
    display: none;
  }
  nav .nav-items{
    flex-direction: column;

  }

}
@media (max-width: 480px){
  nav .logo{
    display: none;
  }
  nav .nav-items{
    flex-direction: column;
  }
}