#Email::placeholder {color: red;} 

.Sign-Up{
  position: fixed;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 3px rgb(0, 173, 181);
  border-radius: 5px;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom:10px;
  padding-left:10%;
  padding-right:10%;
  background-color:#fff
}

input[type=text], #password1,#confirm-password, input[type=email],input[type=UserName] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 2px 0;
  display: inline-block;
  border: none;
  background:rgb(242, 242, 242);
}

#UserNameid, #titleid{
  margin-top: 7%;
}
#btnColor{

  background-color: rgb(0, 173, 181);
}
